<span>
<img src="http://www.sobigdata.eu/sites/default/files/logo-SoBigData-DEFINITIVO.png" width="180px" align="right"/>
</span>
<span>
<b>Author:</b> <a href="http://about.giuliorossetti.net">Giulio Rossetti</a><br/>
<b>Python version:</b>  3.x<br/>
<b>Last update:</b> 22/01/2018
</span>

<a id='top'></a>
# *Data Manipulation with Pandas*
This notebook contains an overview of basic Pandas functionalities.

**Note:** this notebook is purposely not 100% comprehensive, it only discusses the basic things you need to get started.

## Table of Contents
1. [Series](#series) 
    1. [Create](#sa)
    2. [Index and Slice](#sb)
    3. [Adding/Merging](#sc)
2. [DataFrames](#dataframes) 
    1. [Create and Access](#da)
    2. [Load a DataFrame from csv file](#db)
    3. [Reshape](#dc)
        1. [Index and Slice Columns](#dc1)
        2. [Select/Index Rows](#dc2)
        3. [Create and Delete Columns/Rows](#dc3)
        4. [Subset](#dc4)
        5. [Conditional Selection](#dc5)
        6. [Re-setting and Setting Index](#dc6)
        7. [Multi-indexing](#dc7)
    4. [Data Transformation](#de)
        1. [Missing Values](#de1)
        2. [GroupBy](#de2)
        3. [Concatenation](#de3)
        4. [Merging](#de4)
        5. [Joining](#de5)
        6. [Miscellanea](#de6)

In [2]:
import numpy as np
import pandas as pd

<a id='series'></a>
## 1. Series ([to top](#top))

Pandas Series are **one-dimensional** labeled arrays capable of holding any data type (integers, strings, floating point numbers...) <br/>
The axis labels are collectively referred to as the **index**.

<a id='sa'></a>
### 1.A Create ([to top](#top))
Pandas Series can be build by leveraging different data types

From numerical data

In [3]:
my_data = [10,20,30]
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

From numerical data and corresponding index (row labels)

In [4]:
labels = ['A','B','C']
pd.Series(data=my_data, index=labels)

A    10
B    20
C    30
dtype: int64

Just using a pre-defined dictionary

In [5]:
d = {'A':10,'B':20,'C':30}
pd.Series(d)

A    10
B    20
C    30
dtype: int64

<a id='sb'></a>
### 1.B Index and Slice ([to top](#top))
Series can be indexed and sliced

In [6]:
ser = pd.Series([1, 2, 3, 4], ['A', 'B', 'C', 'D'])

print("by name, A:", ser['A'])
print("by positional value in the series, A:", ser[0])
print("by range, B:D\n", ser[1:4], sep='')

by name, A: 1
by positional value in the series, A: 1
by range, B:D
B    2
C    3
D    4
dtype: int64

<a id='sc'></a>
### 1.C Adding/Merging  ([to top](#top))
Series havin having common indices can be combined

In [7]:
ser1 = pd.Series([1, 2, 3, 4], ['A', 'B', 'C', 'D'])
ser2 = pd.Series([1, 2, 5, 4], ['A', 'B', 'E', 'D'])
ser3 = ser1+ser2

After adding the two series, the result looks like this...

In [8]:
ser3

A    2.0
B    4.0
C    NaN
D    8.0
E    NaN
dtype: float64

Python tries to add values where it finds common index name, and puts NaN where indices are missing <br/>
The same happens for all possible operations (e.g., product)

In [9]:
ser1*ser2

A     1.0
B     4.0
C     NaN
D    16.0
E     NaN
dtype: float64

<a id='dataframes'></a>
## 2. DataFrame ([to top](#top))
A DataFrame is a **2-dimensional** labeled data structure with columns of potentially different types. <br/>
You can think of it like a spreadsheet or SQL table, or a dict of Series objects. <br/>
It is generally the most commonly used pandas object.

In [10]:
from numpy.random import randn as rn

<a id='da'></a>
### 2.A Create and Access ([to top](#top))
We start generating some random data...

In [11]:
np.random.seed()
matrix_data = rn(5,4)
matrix_data

array([[ 0.83382043,  1.19876384, -0.47880057,  0.51627293],
       [ 0.90107883, -1.55162389, -1.10126283,  1.14827971],
       [ 0.37635361,  0.01216237,  0.30119291,  0.16196442],
       [ 0.87776844,  0.36719598, -0.4499829 , -0.40011891],
       [-0.2574982 ,  0.12833491,  1.24433062,  1.00199119]])

Now we can transform such random matrix in a DataFrame

In [12]:
row_labels = ['A','B','C','D','E']
column_headings = ['W','X','Y','Z']

df = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)
df

          W         X         Y         Z
A  0.833820  1.198764 -0.478801  0.516273
B  0.901079 -1.551624 -1.101263  1.148280
C  0.376354  0.012162  0.301193  0.161964
D  0.877768  0.367196 -0.449983 -0.400119
E -0.257498  0.128335  1.244331  1.001991

<a id='db'></a>
### 2.B Load a DataFrame from csv file ([to top](#top))
Datasets formatted as csv files can be easily loaded into a DataFrame

In [13]:
glasgow = pd.read_csv("../data/words_glasgow.csv")

In [14]:
glasgow.head()

,word,length,arousal,valence,dominance,concreteness,imageability,familiarity,aoa,semsize,gender,polysemy,web_corpus_freq
0,abattoir,8,4.200,2.864,4.333,5.455,4.391,2.382,6.760,4.652,5.391,0,160074.0
1,abbey,5,3.125,5.781,4.667,5.906,5.344,3.324,5.177,5.121,3.303,0,4224864.0
2,abbreviate,10,3.273,5.250,5.235,3.286,3.177,5.121,5.543,2.667,3.971,0,140105.0
3,abdicate,8,4.194,3.767,4.419,3.367,2.516,3.971,6.233,4.679,5.167,0,124123.0
4,abdication,10,3.846,3.880,4.800,3.292,2.571,3.097,6.407,5.083,4.571,0,128143.0

Simple statistics can be obtained through the *describe* method

In [15]:
glasgow.describe()

,length,arousal,valence,dominance,concreteness,imageability,familiarity,aoa,semsize,gender,polysemy,web_corpus_freq
count,4682.000000,4682.000000,4682.000000,4682.000000,4682.000000,4682.000000,4682.000000,4682.000000,4682.000000,4682.000000,4682.000000,4.668000e+03
mean,6.348355,4.678129,5.086797,5.044939,4.566273,4.723018,5.271335,4.143427,4.136403,4.099933,0.080948,2.988976e+07
std,2.006230,1.097163,1.594344,0.930669,1.433689,1.363110,0.921218,1.252770,1.023293,0.912293,0.272785,8.490144e+07
min,2.000000,2.057000,1.030000,1.941000,1.636000,1.737000,1.647000,1.219000,1.375000,1.000000,0.000000,1.277000e+04
25%,5.000000,3.849000,4.115000,4.529000,3.242000,3.519250,4.706000,3.114000,3.438000,3.606000,0.000000,1.671100e+06
50%,6.000000,4.571000,5.290000,5.123000,4.471000,4.677000,5.438000,4.177000,4.186500,4.121000,0.000000,5.702982e+06
75%,8.000000,5.419000,6.088000,5.600000,5.971000,6.032000,5.969000,5.152000,4.882000,4.656000,0.000000,2.232705e+07
max,16.000000,8.177000,8.647000,8.371000,6.938000,6.941000,6.939000,6.971000,6.912000,6.971000,1.000000,2.022460e+09

Or with the *info* one

In [16]:
glasgow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4682 entries, 0 to 4681
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   word             4682 non-null   object
 1   length           4682 non-null   int64
 2   arousal          4682 non-null   float64
 3   valence          4682 non-null   float64
 4   dominance        4682 non-null   float64
 5   concreteness     4682 non-null   float64
 6   imageability     4682 non-null   float64
 7   familiarity      4682 non-null   float64
 8   aoa              4682 non-null   float64
 9   semsize          4682 non-null   float64
 10  gender           4682 non-null   float64
 11  polysemy         4682 non-null   int64
 12  web_corpus_freq  4668 non-null   float64
dtypes: float64(10), int64(2), object(1)
memory usage: 475.6+ KB

<a id='dc'></a>
### 2.C Reshape ([to top](#top))
DataFrame structures can be reshaped in several ways in order to facilitate the analysis of the data they describe

<a id='dc1'></a>
### 2.C.a Index and Slice Columns ([to top](#top))

Slicing a single column produces a Series...

In [18]:
glasgow['length']

0        8
1        5
2       10
3        8
4       10
        ..
4677     8
4678     4
4679     4
4680     3
4681     7
Name: length, Length: 4682, dtype: int64

In [20]:
type(glasgow['length'])

pandas.core.series.Series

An alternative syntax to access a single column is the *dot* notation

In [21]:
glasgow.length

0        8
1        5
2       10
3        8
4       10
        ..
4677     8
4678     4
4679     4
4680     3
4681     7
Name: length, Length: 4682, dtype: int64

#### Unique values

In [22]:
glasgow['length'].unique()

array([ 8,  5, 10,  7,  9,  6,  4,  3, 11, 12, 13, 16, 14,  2])

In [20]:
titanic['Age'].value_counts()

24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: Age, Length: 88, dtype: int64

#### DataFrame Filter

To obtain a DataFrame an additional bracket must be used

In [23]:
glasgow[['length']].head()

   length
0       8
1       5
2      10
3       8
4      10

In [24]:
type(glasgow[['length']])

pandas.core.frame.DataFrame

In [25]:
glasgow[['length','aoa']].head() # Multiple selection

   length    aoa
0       8  6.760
1       5  5.177
2      10  5.543
3       8  6.233
4      10  6.407

<a id='dc2'></a>
### 2.C.b Select/index Rows ([to top](#top))
Rows can be indexed by **label** as well as by **index**

In [26]:
glasgow.loc[[1, 2]]

,word,length,arousal,valence,dominance,concreteness,imageability,familiarity,aoa,semsize,gender,polysemy,web_corpus_freq
1,abbey,5,3.125,5.781,4.667,5.906,5.344,3.324,5.177,5.121,3.303,0,4224864.0
2,abbreviate,10,3.273,5.250,5.235,3.286,3.177,5.121,5.543,2.667,3.971,0,140105.0

In [27]:
glasgow.iloc[[1,2]]

,word,length,arousal,valence,dominance,concreteness,imageability,familiarity,aoa,semsize,gender,polysemy,web_corpus_freq
1,abbey,5,3.125,5.781,4.667,5.906,5.344,3.324,5.177,5.121,3.303,0,4224864.0
2,abbreviate,10,3.273,5.250,5.235,3.286,3.177,5.121,5.543,2.667,3.971,0,140105.0

<a id='dc3'></a>
### 2.C.c Create and Delete Columns/Rows ([to top](#top))

Adding a novel column combining existing ones

In [28]:
glasgow['Family'] = glasgow['SibSp'] + glasgow['Parch']
titanic.head()

KeyError: 'SibSp'

Deleting an existing column

In [27]:
titanic = titanic.drop('Parch', axis=1)
titanic = titanic.drop('SibSp', axis=1)
titanic.head()

,PassengerId,Name,Sex,Age,Family
0,1,"Braund, Mr. Owen Harris",male,22.0,1
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1
2,3,"Heikkinen, Miss. Laina",female,26.0,0
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1
4,5,"Allen, Mr. William Henry",male,35.0,0

Deleting a row (index) by using df.drop() method and axis=0

In [28]:
titanic1 = titanic.drop(0, axis=0)
titanic1.head()

,PassengerId,Name,Sex,Age,Family
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1
2,3,"Heikkinen, Miss. Laina",female,26.0,0
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1
4,5,"Allen, Mr. William Henry",male,35.0,0
5,6,"Moran, Mr. James",male,NaN,0

Updates can be performed **inplace** (without reasigning to a variable) by setting inplace=True

In [29]:
titanic.drop(0, axis=0, inplace=True)
titanic.head()

,PassengerId,Name,Sex,Age,Family
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1
2,3,"Heikkinen, Miss. Laina",female,26.0,0
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1
4,5,"Allen, Mr. William Henry",male,35.0,0
5,6,"Moran, Mr. James",male,NaN,0

<a id='dc4'></a>
### 2.C.d Subset ([to top](top))
Accessing an element in position (D,Y)

In [29]:
glasgow.loc[2,'length']

10

Slicing by rows and columns at the same time

In [30]:
glasgow.loc[[2, 3],['length','arousal']]

   length  arousal
2      10    3.273
3       8    4.194

<a id='dc4'></a>
### 2.C.e Conditional Selection ([to top](#top))
Logical operators can be applied to DataFrame to perform filtering and selections

**Example:** a boolean DataFrame where we are checking if the ages are greater than 20

In [31]:
glasgow['length'] > 5

0        True
1       False
2        True
3        True
4        True
        ...
4677     True
4678    False
4679    False
4680    False
4681     True
Name: length, Length: 4682, dtype: bool

In [32]:
rslt_df = glasgow[glasgow['length'] > 5]
rslt_df.head()

,word,length,arousal,valence,dominance,concreteness,imageability,familiarity,aoa,semsize,gender,polysemy,web_corpus_freq
0,abattoir,8,4.200,2.864,4.333,5.455,4.391,2.382,6.760,4.652,5.391,0,160074.0
2,abbreviate,10,3.273,5.250,5.235,3.286,3.177,5.121,5.543,2.667,3.971,0,140105.0
3,abdicate,8,4.194,3.767,4.419,3.367,2.516,3.971,6.233,4.679,5.167,0,124123.0
4,abdication,10,3.846,3.880,4.800,3.292,2.571,3.097,6.407,5.083,4.571,0,128143.0
5,abdomen,7,4.714,5.486,5.441,6.606,6.235,4.636,5.457,3.529,4.600,0,1490684.0

#### Conditionally subset a DataFrame with Boolean series
Let's define a DataFrame describing individuals measurements

We can filter it easily by specifying a condition on the cell values

In [33]:
glasgow[glasgow['length']>10].head()

,word,length,arousal,valence,dominance,concreteness,imageability,familiarity,aoa,semsize,gender,polysemy,web_corpus_freq
44,achievement,11,6.333,7.938,7.452,2.879,3.875,6.200,4.455,5.710,3.906,0,12845656.0
90,affectionate,12,7.206,8.000,6.273,3.471,4.706,6.121,4.970,5.471,2.147,0,713693.0
173,anthropology,12,4.063,5.419,5.344,2.968,2.438,3.143,6.594,5.094,4.375,0,5661140.0
174,anticipation,12,7.303,6.382,5.000,2.229,2.800,5.182,5.686,5.455,3.257,0,2261724.0
193,appointment,11,3.515,4.970,4.706,4.886,4.000,5.697,4.000,3.606,3.625,0,16761764.0

Multiple conditions can be stacked together using boolean operators

In [37]:
booldf1 = glasgow['length']>5
booldf2 = glasgow['arousal']>5

In [38]:
booldf2

0       False
1       False
2       False
3       False
4       False
        ...
4677     True
4678    False
4679     True
4680     True
4681    False
Name: arousal, Length: 4682, dtype: bool

In [39]:
glasgow[(booldf1) & (booldf2)].head()

,word,length,arousal,valence,dominance,concreteness,imageability,familiarity,aoa,semsize,gender,polysemy,web_corpus_freq
8,abducted,8,5.344,1.969,2.871,4.813,4.212,5.406,5.290,5.161,4.546,0,837949.0
9,abduction,9,5.324,1.618,2.886,4.912,4.800,4.441,5.114,5.059,4.686,0,1188510.0
12,ability,7,5.471,6.912,6.971,2.941,2.515,6.000,4.061,5.029,4.206,0,52004289.0
16,abroad,6,6.548,6.743,5.118,4.559,4.486,6.030,3.857,5.500,3.882,0,14837382.0
20,absurd,6,5.452,3.563,4.719,2.065,2.375,4.793,5.281,4.531,4.100,0,2148981.0

Filtering results can be subsetted as usual selecting rows/columns

In [40]:
glasgow[booldf1][['length','arousal']].head()

   length  arousal
0       8    4.200
2      10    3.273
3       8    4.194
4      10    3.846
5       7    4.714

<a id='dc5'></a>
### 2.C.f Re-setting and Setting Index ([to top](#top))
In the previuos example we specified an index. <br/>
We can destroy such index (making it a simple column of the DataFrame) easily

In [41]:
glasgow.reset_index().head()

,index,word,length,arousal,valence,dominance,concreteness,imageability,familiarity,aoa,semsize,gender,polysemy,web_corpus_freq
0,0,abattoir,8,4.200,2.864,4.333,5.455,4.391,2.382,6.760,4.652,5.391,0,160074.0
1,1,abbey,5,3.125,5.781,4.667,5.906,5.344,3.324,5.177,5.121,3.303,0,4224864.0
2,2,abbreviate,10,3.273,5.250,5.235,3.286,3.177,5.121,5.543,2.667,3.971,0,140105.0
3,3,abdicate,8,4.194,3.767,4.419,3.367,2.516,3.971,6.233,4.679,5.167,0,124123.0
4,4,abdication,10,3.846,3.880,4.800,3.292,2.571,3.097,6.407,5.083,4.571,0,128143.0

Conversely, if we do not need such additional column we can drop it contextually

In [42]:
glasgow.reset_index(drop=True).head()

,word,length,arousal,valence,dominance,concreteness,imageability,familiarity,aoa,semsize,gender,polysemy,web_corpus_freq
0,abattoir,8,4.200,2.864,4.333,5.455,4.391,2.382,6.760,4.652,5.391,0,160074.0
1,abbey,5,3.125,5.781,4.667,5.906,5.344,3.324,5.177,5.121,3.303,0,4224864.0
2,abbreviate,10,3.273,5.250,5.235,3.286,3.177,5.121,5.543,2.667,3.971,0,140105.0
3,abdicate,8,4.194,3.767,4.419,3.367,2.516,3.971,6.233,4.679,5.167,0,124123.0
4,abdication,10,3.846,3.880,4.800,3.292,2.571,3.097,6.407,5.083,4.571,0,128143.0

Now we can add a new column and set it as new index

In [44]:
glasgow.set_index('word').head()

,length,arousal,valence,dominance,concreteness,imageability,familiarity,aoa,semsize,gender,polysemy,web_corpus_freq
word,,,,,,,,,,,,
abattoir,8,4.200,2.864,4.333,5.455,4.391,2.382,6.760,4.652,5.391,0,160074.0
abbey,5,3.125,5.781,4.667,5.906,5.344,3.324,5.177,5.121,3.303,0,4224864.0
abbreviate,10,3.273,5.250,5.235,3.286,3.177,5.121,5.543,2.667,3.971,0,140105.0
abdicate,8,4.194,3.767,4.419,3.367,2.516,3.971,6.233,4.679,5.167,0,124123.0
abdication,10,3.846,3.880,4.800,3.292,2.571,3.097,6.407,5.083,4.571,0,128143.0

<a id='dc5'></a>
### 2.C.g Multi-indexing ([to top](#top))
DataFrame indexes can have multiple levels <br/>
We can define a two level index as follows:

In [45]:
t2 = glasgow[['word', 'length', 'aoa']]
t2.head()

         word  length    aoa
0    abattoir       8  6.760
1       abbey       5  5.177
2  abbreviate      10  5.543
3    abdicate       8  6.233
4  abdication      10  6.407

In [46]:
t2.set_index(['word', 'aoa'], inplace=True)

For sake of clarity we can rename the indexes as follows

In [47]:
t2.index.names=['Outer', 'Inner']
t2.head()

                  length
Outer      Inner
abattoir   6.760       8
abbey      5.177       5
abbreviate 5.543      10
abdicate   6.233       8
abdication 6.407      10

<a id='de'></a>
## 3. Data Transformation ([to top](#top))
Data stored in a DataFrame can be transformed applying several functions.

<a id='de1'></a>
### 3.A Missing Values ([to top](#top))
In presence of missing values different policies can be selected

#### Dropping any rows with a NaN value

In [50]:
glasgow.dropna(axis=0).head()

,word,length,arousal,valence,dominance,concreteness,imageability,familiarity,aoa,semsize,gender,polysemy,web_corpus_freq
0,abattoir,8,4.200,2.864,4.333,5.455,4.391,2.382,6.760,4.652,5.391,0,160074.0
1,abbey,5,3.125,5.781,4.667,5.906,5.344,3.324,5.177,5.121,3.303,0,4224864.0
2,abbreviate,10,3.273,5.250,5.235,3.286,3.177,5.121,5.543,2.667,3.971,0,140105.0
3,abdicate,8,4.194,3.767,4.419,3.367,2.516,3.971,6.233,4.679,5.167,0,124123.0
4,abdication,10,3.846,3.880,4.800,3.292,2.571,3.097,6.407,5.083,4.571,0,128143.0

#### Dropping any columns with NaN value

In [51]:
glasgow.dropna(axis=1).head()

,word,length,arousal,valence,dominance,concreteness,imageability,familiarity,aoa,semsize,gender,polysemy
0,abattoir,8,4.200,2.864,4.333,5.455,4.391,2.382,6.760,4.652,5.391,0
1,abbey,5,3.125,5.781,4.667,5.906,5.344,3.324,5.177,5.121,3.303,0
2,abbreviate,10,3.273,5.250,5.235,3.286,3.177,5.121,5.543,2.667,3.971,0
3,abdicate,8,4.194,3.767,4.419,3.367,2.516,3.971,6.233,4.679,5.167,0
4,abdication,10,3.846,3.880,4.800,3.292,2.571,3.097,6.407,5.083,4.571,0

#### Thresholding: dropping a row with a minimum 5 NaN

In [52]:
glasgow.dropna(axis=0, thresh=5).head()

,word,length,arousal,valence,dominance,concreteness,imageability,familiarity,aoa,semsize,gender,polysemy,web_corpus_freq
0,abattoir,8,4.200,2.864,4.333,5.455,4.391,2.382,6.760,4.652,5.391,0,160074.0
1,abbey,5,3.125,5.781,4.667,5.906,5.344,3.324,5.177,5.121,3.303,0,4224864.0
2,abbreviate,10,3.273,5.250,5.235,3.286,3.177,5.121,5.543,2.667,3.971,0,140105.0
3,abdicate,8,4.194,3.767,4.419,3.367,2.516,3.971,6.233,4.679,5.167,0,124123.0
4,abdication,10,3.846,3.880,4.800,3.292,2.571,3.097,6.407,5.083,4.571,0,128143.0

#### Filling values with a default value

In [53]:
glasgow.fillna(value='FILL VALUE').head()

,word,length,arousal,valence,dominance,concreteness,imageability,familiarity,aoa,semsize,gender,polysemy,web_corpus_freq
0,abattoir,8,4.200,2.864,4.333,5.455,4.391,2.382,6.760,4.652,5.391,0,160074.0
1,abbey,5,3.125,5.781,4.667,5.906,5.344,3.324,5.177,5.121,3.303,0,4224864.0
2,abbreviate,10,3.273,5.250,5.235,3.286,3.177,5.121,5.543,2.667,3.971,0,140105.0
3,abdicate,8,4.194,3.767,4.419,3.367,2.516,3.971,6.233,4.679,5.167,0,124123.0
4,abdication,10,3.846,3.880,4.800,3.292,2.571,3.097,6.407,5.083,4.571,0,128143.0

#### Filling values with a computed value (e.g., mean of column A)

In [55]:
glasgow.fillna(value={'aoa': glasgow['aoa'].mean()}).head()

,word,length,arousal,valence,dominance,concreteness,imageability,familiarity,aoa,semsize,gender,polysemy,web_corpus_freq
0,abattoir,8,4.200,2.864,4.333,5.455,4.391,2.382,6.760,4.652,5.391,0,160074.0
1,abbey,5,3.125,5.781,4.667,5.906,5.344,3.324,5.177,5.121,3.303,0,4224864.0
2,abbreviate,10,3.273,5.250,5.235,3.286,3.177,5.121,5.543,2.667,3.971,0,140105.0
3,abdicate,8,4.194,3.767,4.419,3.367,2.516,3.971,6.233,4.679,5.167,0,124123.0
4,abdication,10,3.846,3.880,4.800,3.292,2.571,3.097,6.407,5.083,4.571,0,128143.0

<a id='de2'></a>
### 3.B GroupBy ([to top](#top))
DataFrames allow to group rows by column values so to compute aggregated statistics (i.e., sum, mean...)

In [56]:
t3 = glasgow.groupby('aoa')
t3[['length']].mean()

       length
aoa
1.219     3.0
1.265     3.0
1.333     3.0
1.371     4.0
1.382     6.0
...       ...
6.778     6.0
6.786     9.0
6.829     5.0
6.833     6.0
6.971     7.0

[953 rows x 1 columns]

In [59]:
t4 = pd.DataFrame(glasgow[['polysemy', 'length']].groupby('polysemy').describe())
t4

          length
           count     mean       std  min  25%  50%  75%   max
polysemy
0         4303.0  6.48594  2.004928  2.0  5.0  6.0  8.0  16.0
1          379.0  4.78628  1.197096  3.0  4.0  5.0  5.0  10.0

In order to select a single row of the resulting DataFrame it is necessary to:
- access it via *loc*
- transpose the results

In [63]:
glasgow_polysemic = pd.DataFrame(t4.loc[1])
glasgow_polysemic

                       1
length count  379.000000
       mean     4.786280
       std      1.197096
       min      3.000000
       25%      4.000000
       50%      5.000000
       75%      5.000000
       max     10.000000

In [64]:
glasgow_polysemic.transpose()

  length
   count     mean       std  min  25%  50%  75%   max
1  379.0  4.78628  1.197096  3.0  4.0  5.0  5.0  10.0

<a id='de3'></a>
### 3.C Concatenation ([to top](#top))

DataFrames can be easily contatenated by row as well as by column

In [68]:
polysemy_values = pd.read_csv("../data/words_polysemy_values.csv")
polysemy_values.head()

,word,length,arousal,valence,dominance,concreteness,imageability,familiarity,aoa,semsize,gender
0,address (postal),7,3.546,5.000,5.114,5.581,4.559,6.094,3.059,3.471,4.000
1,address (speak to),7,4.000,5.559,6.182,4.114,4.200,4.857,4.800,4.171,3.824
2,aim (objective),3,4.909,6.382,5.909,3.294,2.909,6.030,4.529,4.500,4.235
3,aim (target),3,5.200,5.600,6.714,4.677,5.286,5.970,3.618,3.686,4.743
4,Apple (brand),5,4.849,5.971,4.600,5.943,6.677,6.529,6.000,5.353,4.647

In [69]:
row_concat = pd.concat([glasgow, polysemy_values], axis=0)
row_concat.head()

,word,length,arousal,valence,dominance,concreteness,imageability,familiarity,aoa,semsize,gender,polysemy,web_corpus_freq
0,abattoir,8,4.200,2.864,4.333,5.455,4.391,2.382,6.760,4.652,5.391,0.0,160074.0
1,abbey,5,3.125,5.781,4.667,5.906,5.344,3.324,5.177,5.121,3.303,0.0,4224864.0
2,abbreviate,10,3.273,5.250,5.235,3.286,3.177,5.121,5.543,2.667,3.971,0.0,140105.0
3,abdicate,8,4.194,3.767,4.419,3.367,2.516,3.971,6.233,4.679,5.167,0.0,124123.0
4,abdication,10,3.846,3.880,4.800,3.292,2.571,3.097,6.407,5.083,4.571,0.0,128143.0

In [70]:
column_concat = pd.concat([glasgow, polysemy_values], axis=1)
column_concat.head()

,word,length,arousal,valence,dominance,concreteness,imageability,familiarity,aoa,semsize,...,length,arousal,valence,dominance,concreteness,imageability,familiarity,aoa,semsize,gender
0,abattoir,8,4.200,2.864,4.333,5.455,4.391,2.382,6.760,4.652,...,7.0,3.546,5.000,5.114,5.581,4.559,6.094,3.059,3.471,4.000
1,abbey,5,3.125,5.781,4.667,5.906,5.344,3.324,5.177,5.121,...,7.0,4.000,5.559,6.182,4.114,4.200,4.857,4.800,4.171,3.824
2,abbreviate,10,3.273,5.250,5.235,3.286,3.177,5.121,5.543,2.667,...,3.0,4.909,6.382,5.909,3.294,2.909,6.030,4.529,4.500,4.235
3,abdicate,8,4.194,3.767,4.419,3.367,2.516,3.971,6.233,4.679,...,3.0,5.200,5.600,6.714,4.677,5.286,5.970,3.618,3.686,4.743
4,abdication,10,3.846,3.880,4.800,3.292,2.571,3.097,6.407,5.083,...,5.0,4.849,5.971,4.600,5.943,6.677,6.529,6.000,5.353,4.647

Filling NaN with a fixed value

In [71]:
column_concat.fillna(value=0, inplace=True)
column_concat.head()

,word,length,arousal,valence,dominance,concreteness,imageability,familiarity,aoa,semsize,...,length,arousal,valence,dominance,concreteness,imageability,familiarity,aoa,semsize,gender
0,abattoir,8,4.200,2.864,4.333,5.455,4.391,2.382,6.760,4.652,...,7.0,3.546,5.000,5.114,5.581,4.559,6.094,3.059,3.471,4.000
1,abbey,5,3.125,5.781,4.667,5.906,5.344,3.324,5.177,5.121,...,7.0,4.000,5.559,6.182,4.114,4.200,4.857,4.800,4.171,3.824
2,abbreviate,10,3.273,5.250,5.235,3.286,3.177,5.121,5.543,2.667,...,3.0,4.909,6.382,5.909,3.294,2.909,6.030,4.529,4.500,4.235
3,abdicate,8,4.194,3.767,4.419,3.367,2.516,3.971,6.233,4.679,...,3.0,5.200,5.600,6.714,4.677,5.286,5.970,3.618,3.686,4.743
4,abdication,10,3.846,3.880,4.800,3.292,2.571,3.097,6.407,5.083,...,5.0,4.849,5.971,4.600,5.943,6.677,6.529,6.000,5.353,4.647

<a id='de4'></a>
### 3.D Merging ([to top](#top))
DataFrames can be merged if they share a **common key**. <br/>
The merge function allows you to merge DataFrames together using a similar logic as merging SQL Tables together.

In [72]:
merge1 = pd.merge(glasgow, polysemy_values, how='inner',on=['word'])
merge1.head()

Empty DataFrame
Columns: [word, length_x, arousal_x, valence_x, dominance_x, concreteness_x, imageability_x, familiarity_x, aoa_x, semsize_x, gender_x, polysemy, web_corpus_freq, length_y, arousal_y, valence_y, dominance_y, concreteness_y, imageability_y, familiarity_y, aoa_y, semsize_y, gender_y]
Index: []

[0 rows x 23 columns]

In [73]:
pd.merge(glasgow, polysemy_values, how='outer',on=['word']).head()

,word,length_x,arousal_x,valence_x,dominance_x,concreteness_x,imageability_x,familiarity_x,aoa_x,semsize_x,...,length_y,arousal_y,valence_y,dominance_y,concreteness_y,imageability_y,familiarity_y,aoa_y,semsize_y,gender_y
0,abattoir,8.0,4.200,2.864,4.333,5.455,4.391,2.382,6.760,4.652,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,abbey,5.0,3.125,5.781,4.667,5.906,5.344,3.324,5.177,5.121,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,abbreviate,10.0,3.273,5.250,5.235,3.286,3.177,5.121,5.543,2.667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,abdicate,8.0,4.194,3.767,4.419,3.367,2.516,3.971,6.233,4.679,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,abdication,10.0,3.846,3.880,4.800,3.292,2.571,3.097,6.407,5.083,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
pd.merge(passengers, trip, how='left',on=['PassengerId']).head()

,PassengerId,Name,Sex,Age,SibSp,Parch,Survived,Pclass,Embarked,Cabin,Ticket,Fare
0,1,"Braund, Mr. Owen Harris",male,22.0,1,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,1.0,1.0,C,C85,PC 17599,71.2833
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,1.0,3.0,S,NaN,STON/O2. 3101282,7.9250
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,1.0,1.0,S,C123,113803,53.1000
4,5,"Allen, Mr. William Henry",male,35.0,0,0,0.0,3.0,S,NaN,373450,8.0500

In [64]:
pd.merge(passengers, trip, how='right',on=['PassengerId']).head()

,PassengerId,Name,Sex,Age,SibSp,Parch,Survived,Pclass,Embarked,Cabin,Ticket,Fare
0,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,1,1,C,C85,PC 17599,71.2833
1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,1,3,S,NaN,STON/O2. 3101282,7.9250
2,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,1,1,S,C123,113803,53.1000
3,5,"Allen, Mr. William Henry",male,35.0,0,0,0,3,S,NaN,373450,8.0500
4,6,"Moran, Mr. James",male,NaN,0,0,0,3,Q,NaN,330877,8.4583

<a id='de5'></a>
### 3.E Joining ([to top](#top))
Joining is a convenient method for combining the columns of two **potentially differently-indexed** DataFrames into a single DataFrame based on 'index keys'.

In [74]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [75]:
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [76]:
left.join(right, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

<a id='de6'></a>
### 3.F Miscellanea ([to top](#top))

#### Applying functions to DataFrame values
Pandas works with 'apply' method to accept any user-defined function...

In [77]:
# Define a function
def adulthood(x):
    if x<18:
        return False
    else:
        return True

In [69]:
passengers['Adult'] = passengers['Age'].apply(adulthood)
passengers.head()

,PassengerId,Name,Sex,Age,SibSp,Parch,Adult
0,1,"Braund, Mr. Owen Harris",male,22.0,1,0,True
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,True
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,True
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,True
4,5,"Allen, Mr. William Henry",male,35.0,0,0,True

... as well as with **built-in ones**

In [70]:
passengers['Name Length']= passengers['Name'].apply(len)
passengers.head()

,PassengerId,Name,Sex,Age,SibSp,Parch,Adult,Name Length
0,1,"Braund, Mr. Owen Harris",male,22.0,1,0,True,23
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,True,51
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,True,22
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,True,44
4,5,"Allen, Mr. William Henry",male,35.0,0,0,True,24

#### Standard statistical functions

In [71]:
passengers['Age'].max()

80.0

In [72]:
passengers['Age'].mean()

29.69911764705882

In [73]:
passengers['Age'].std()

14.526497332334044

In [74]:
passengers['Age'].min()

0.42

#### Get the list of column and row names

Getting column names

In [75]:
passengers.columns

Index(['PassengerId', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Adult',
       'Name Length'],
      dtype='object')

#### Deletion by *del* command 
(N.B.: This affects the dataframe immediately, unlike drop method)

In [76]:
del passengers['Name Length']
passengers.head()

,PassengerId,Name,Sex,Age,SibSp,Parch,Adult
0,1,"Braund, Mr. Owen Harris",male,22.0,1,0,True
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,True
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,True
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,True
4,5,"Allen, Mr. William Henry",male,35.0,0,0,True

#### Sorting and Ordering a DataFrame

In [77]:
passengers.sort_values(by='Age').head()

,PassengerId,Name,Sex,Age,SibSp,Parch,Adult
803,804,"Thomas, Master. Assad Alexander",male,0.42,0,1,False
755,756,"Hamalainen, Master. Viljo",male,0.67,1,1,False
644,645,"Baclini, Miss. Eugenie",female,0.75,2,1,False
469,470,"Baclini, Miss. Helene Barbara",female,0.75,2,1,False
78,79,"Caldwell, Master. Alden Gates",male,0.83,0,2,False

In [78]:
passengers.sort_values(by='Age',ascending=False).head()

,PassengerId,Name,Sex,Age,SibSp,Parch,Adult
630,631,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,True
851,852,"Svensson, Mr. Johan",male,74.0,0,0,True
493,494,"Artagaveytia, Mr. Ramon",male,71.0,0,0,True
96,97,"Goldschmidt, Mr. George B",male,71.0,0,0,True
116,117,"Connors, Mr. Patrick",male,70.5,0,0,True

#### Find Null Values or Check for Null Values

In [79]:
titanic.isnull().head()

   PassengerId   Name    Sex    Age  Family
1        False  False  False  False   False
2        False  False  False  False   False
3        False  False  False  False   False
4        False  False  False  False   False
5        False  False  False   True   False

In [80]:
titanic.fillna('FAKE VALUE').head()

,PassengerId,Name,Sex,Age,Family
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1
2,3,"Heikkinen, Miss. Laina",female,26.0,0
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1
4,5,"Allen, Mr. William Henry",male,35.0,0
5,6,"Moran, Mr. James",male,FAKE VALUE,0

#### Pivot Table

In [81]:
# Index out of 'Age', columns from 'SibSp', actual numerical values from 'Age'
passengers.pivot_table(values='Age',index=['Sex'],columns=['SibSp'], aggfunc='mean')

SibSp           0          1          2      3         4      5
Sex
female  28.631944  30.738889  16.541667  16.50  8.333333  16.00
male    32.615443  29.461505  28.230769   8.75  6.416667   8.75

In [82]:
# Index out of 'SibSp' and 'Parch', columns from 'Sex', actual numerical values from 'Age'
passengers.pivot_table(values='Age',index=['SibSp', 'Parch'],columns=['Sex'], fill_value='FILLED', aggfunc='mean')

Sex             female       male
SibSp Parch
0     0          30.15  32.901316
      1      27.086957      33.53
      2      20.705882  21.536667
      3           24.0     FILLED
      4           29.0     FILLED
      5           40.0     FILLED
1     0      31.806122  32.311321
      1          29.16  25.258621
      2           21.2  19.417143
      3           51.0       16.0
      4           45.0       52.0
      5           38.5       39.0
      6           43.0     FILLED
2     0           35.5  31.181818
      1            6.9       12.0
      2          17.25     FILLED
      3           24.0     FILLED
3     0           31.5     FILLED
      1            5.5        2.0
      2           14.5       11.0
4     1         FILLED   6.777778
      2       8.333333   5.333333
5     2           16.0       8.75

#### Check and reset variable types

In [83]:
passengers.dtypes

PassengerId      int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Adult             bool
dtype: object

In [84]:
passengers.Age = passengers.Age.astype(float)

In [85]:
passengers.dtypes

PassengerId      int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Adult             bool
dtype: object